.camera{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mirrored {
  transform: scaleX(-1);
  margin-bottom: 15px;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 18px; 
  margin-top: 10px;
}

.button{
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
}

.graph-container {
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

.face-map-container{
  position: relative;
  width: 100%;
  max-width: 1000px; /* Adjust based on your needs */
  margin: 0 auto;
}

.face-map-image {
  width: 100%;
  height: auto;
}

.face-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.region-label {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.region-forehead-nose { 
  top: 10%; 
  left: 80%; 
  width: 250px;
  transform: translateX(-50%); 
}
.region-hairline { 
  top: 10%; 
  left: 20%; 
  transform: translateX(-50%); 
}
.region-eyebrow-area { 
  top: 35%; 
  left: 17%; 
  transform: translateX(-50%); 
}
.region-ears { 
  top: 45%; 
  left: 80%; 
  width: 250px;
  transform: translateX(-50%); 
}
.region-cheeks { 
  top: 70%; 
  left: 14%;
  transform: translateX(-50%);  
}
.region-jawline-chin { 
  top: 75%; 
  left: 80%; 
  transform: translateX(-50%); 
}

.llm-selection {
  position: absolute;
  left: 20px;
}

#llm-select {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
}