.camera{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mirrored {
  transform: scaleX(-1);
  margin-bottom: 15px;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 18px; 
  margin-top: 10px;
}

.button{
  background-color: #78b288; 
  border: none;
  color: white; 
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px; 
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: #579369; 
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.llmResult-container {
  max-width: 50%;
  max-height: 400px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #ccc; 
  padding: 10px;
  background-color: #a5b8aa; 
  overflow-y: auto;
  text-align: left; 
}

.graph-container {
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

.face-map-container{
  position: relative;
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto;
}

.face-map-image {
  width: 50%;
  height: auto;
}